.Buttons {
    display: flex;
    height: 10vmin;
    width: 100%;
    align-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Icon {
    display: flex;
    flex: 1;
    height: 50px;
}

.Type {
    display: flex;
    flex: 3;
}

.Input {
    display: flex;
    flex: 1;
    font-size: x-large;
    text-align: right;
    height: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 1px 1px darkgray;
    background: lightgrey;
}